.vector-icon2 {
  position: absolute;
  height: 107.37%;
  width: 77.98%;
  top: 12.25%;
  right: 46.04%;
  bottom: -19.62%;
  left: -24.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.why-choose-us-wrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl);
}
.we-offer-the {
  align-self: stretch;
  position: relative;
  font-size: 38px;
  line-height: 130%;
  font-weight: 500;
  color: #333;
}
.frame-parent40 {
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 0;
}
.vuesaxboldwallet-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.icon-car {
  width: 64px;
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue);
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.book-your-car {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.select-your-pick {
  margin: 0;
}
.book-your-car-container {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 500;
  color: var(--color-dimgray-100);
  text-align: center;
}
.book-your-car-parent {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px 0;
}
.best-price-guaranteed-parent,
.icon-car-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px 0;
}
.best-price-guaranteed-parent {
  align-items: flex-start;
  justify-content: center;
  gap: 24px 0;
}
.instance-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 24px;
}
.dont-have-driver-container {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--color-dimgray-100);
}
.frame-parent39,
.frame-parent41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-parent39 {
  position: absolute;
  top: calc(50% - 408px);
  left: 990px;
  gap: 56px 0;
  font-size: var(--font-size-sm);
  color: var(--primary);
}
.audi-1-icon1 {
  position: absolute;
  top: 230px;
  left: -181px;
  width: 813px;
  height: 359px;
  object-fit: cover;
}
.desktop-6-child,
.desktop-6-item {
  position: absolute;
  top: 36px;
  left: 1737px;
  border-radius: var(--br-4xs);
  background-color: var(--color-blue-100);
  width: 148px;
  height: 49px;
}
.desktop-6-item {
  top: 34px;
  left: 1566px;
  background-color: var(--color-gray-700);
  border: 3px solid var(--color-blue-200);
  box-sizing: border-box;
  height: 51px;
}
.about-us4,
.cars-for-buy4,
.faqs4,
.our-services4,
.sign-in4 {
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  height: 24px;
}
.sign-in4 {
  top: 48px;
  left: 1603px;
  color: var(--color-dimgray-200);
  width: 73px;
}
.about-us4,
.cars-for-buy4,
.faqs4,
.our-services4 {
  top: 40px;
  left: 1417px;
  width: 53px;
}
.about-us4,
.cars-for-buy4,
.our-services4 {
  left: 1287px;
  color: var(--color-dimgray-200);
  width: 88px;
}
.cars-for-buy4,
.our-services4 {
  left: 1133px;
  width: 146px;
}
.cars-for-buy4 {
  left: 958px;
  width: 121px;
}
.hub4 {
  color: var(--color-deepskyblue);
}
.cars-for-rent5,
.dp-carhub7,
.home4,
.sign-up4 {
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
}
.dp-carhub7 {
  top: 21px;
  left: 34px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  width: 306px;
  height: 70px;
}
.cars-for-rent5,
.home4,
.sign-up4 {
  top: 40px;
  left: 696px;
  font-weight: 600;
  color: var(--color-dimgray-200);
  width: 48px;
  height: 24px;
}
.cars-for-rent5,
.sign-up4 {
  left: 785px;
  width: 131px;
}
.sign-up4 {
  top: 48px;
  left: 1784px;
  color: var(--color-gray-100);
  width: 83px;
  height: 13px;
}
.desktop-6-inner {
  position: absolute;
  top: 113px;
  left: 1417px;
  border-radius: var(--br-39xl);
  background-color: var(--color-blue-100);
  width: 42px;
  height: 7px;
  opacity: 0.9;
}
.our-product3 {
  position: absolute;
  top: 776px;
  left: 808px;
  line-height: 150%;
  font-weight: 500;
}
.career3 {
  position: relative;
  line-height: 150%;
}
.career-parent1 {
  position: absolute;
  top: 819px;
  left: 808px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  font-size: var(--font-size-sm);
}
.resources3 {
  position: absolute;
  top: 776px;
  left: 1080px;
  line-height: 150%;
  font-weight: 500;
}
.download-parent1 {
  position: absolute;
  top: 819px;
  left: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  font-size: var(--font-size-sm);
}
.about-rentcars3 {
  position: absolute;
  top: 776px;
  left: 1352px;
  line-height: 150%;
  font-weight: 500;
}
.why-choose-us-parent1 {
  position: absolute;
  top: 819px;
  left: 1352.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  font-size: var(--font-size-sm);
}
.follow-us3 {
  position: absolute;
  top: 776px;
  left: 1624px;
  line-height: 150%;
  font-weight: 500;
}
.vuesaxlinearfacebook-parent1 {
  position: absolute;
  top: 819px;
  left: 1624px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.dp-carhub8 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.dp-carhub-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.desktop-6-inner1 {
  position: absolute;
  top: 771px;
  left: 276px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.city-center-sindhu-container3 {
  width: 159px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent42,
.vuesaxlinearlocation-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.frame-parent42 {
  position: absolute;
  top: 812px;
  left: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px 0;
  font-size: var(--font-size-sm);
}
.copyright-20233 {
  position: absolute;
  top: 1055px;
  left: calc(50% - 636px);
  font-size: var(--font-size-xs);
  line-height: 150%;
}
.desktop-6-child1 {
  position: absolute;
  top: 1022.5px;
  left: calc(50% - 456.5px);
  border-top: 1px solid var(--color-dimgray-400);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
