.desktop-3-child {
  position: absolute;
  top: -5px;
  left: -2px;
  background-color: var(--color-white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1920px;
  height: 140px;
}
.desktop-3-child1,
.desktop-3-inner,
.desktop-3-item {
  position: absolute;
  top: 259.5px;
  left: 1146px;
  border-radius: var(--br-15xl);
  width: 192.5px;
  height: 69px;
}
.desktop-3-child1,
.desktop-3-inner {
  top: 548px;
  left: 1154px;
  width: 193px;
  height: 23px;
}
.desktop-3-child1 {
  left: 546px;
  object-fit: contain;
}
.desktop-3-child2,
.desktop-3-child3,
.desktop-3-child4 {
  position: absolute;
  top: 880.5px;
  left: 1146px;
  border-radius: var(--br-15xl);
  width: 192.5px;
  height: 69px;
}
.desktop-3-child3,
.desktop-3-child4 {
  top: 259.5px;
  left: 554.5px;
  object-fit: contain;
}
.desktop-3-child4 {
  top: 811.5px;
}
.ellipse-div {
  position: absolute;
  top: 251px;
  left: 1337px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 16px;
  height: 16px;
}
.desktop-3-child5 {
  top: 540px;
  left: 1345px;
}
.desktop-3-child5,
.desktop-3-child6,
.desktop-3-child7 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 16px;
  height: 16px;
}
.desktop-3-child6 {
  top: 540px;
  left: 548px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktop-3-child7 {
  top: 889px;
  left: 1337px;
}
.desktop-3-child8 {
  top: 251px;
  left: 556px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktop-3-child10,
.desktop-3-child8,
.desktop-3-child9 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 16px;
  height: 16px;
}
.desktop-3-child9 {
  top: 889px;
  left: 556px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktop-3-child10 {
  top: 326px;
  left: 1133px;
}
.desktop-3-child11 {
  top: 567px;
  left: 1141px;
}
.desktop-3-child11,
.desktop-3-child12,
.desktop-3-child13,
.desktop-3-child14,
.desktop-3-child15 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 16px;
  height: 16px;
}
.desktop-3-child12 {
  top: 567px;
  left: 752px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktop-3-child13,
.desktop-3-child14,
.desktop-3-child15 {
  top: 814px;
  left: 1133px;
}
.desktop-3-child14,
.desktop-3-child15 {
  top: 326px;
  left: 760px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktop-3-child15 {
  top: 814px;
}
.advanced-aerodynamics,
.customizable-driving-modes,
.luxurious-interior {
  position: absolute;
  top: 251px;
  left: 73px;
  font-size: var(--font-size-13xl);
  line-height: 8px;
  text-transform: uppercase;
  font-weight: 800;
}
.customizable-driving-modes,
.luxurious-interior {
  top: 547px;
  left: 17px;
}
.luxurious-interior {
  top: 880px;
  left: 141px;
  font-size: var(--font-size-18xl);
}
.desktop-3-child16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.desktop-3-child17 {
  position: absolute;
  top: 150px;
  left: 610px;
  border-radius: var(--br-307xl);
  width: 700px;
  height: 2px;
  object-fit: contain;
}
.style-cars {
  color: var(--color-blue-200);
}
.best-quality-style-container,
.cars2 {
  position: absolute;
  top: 214px;
  left: 638px;
  font-size: var(--font-size-31xl);
  text-transform: uppercase;
  font-weight: 600;
}
.cars2 {
  top: 152px;
  left: 914px;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
}
.all-wheel-drive-system,
.carbon-fiber-monocoque,
.liter-v12-engine {
  position: absolute;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 200px;
}
.carbon-fiber-monocoque {
  top: 876px;
  left: 1368px;
  font-size: 28px;
}
.all-wheel-drive-system,
.liter-v12-engine {
  top: 544px;
  left: 1370px;
  font-size: var(--font-size-21xl);
}
.liter-v12-engine {
  top: 236px;
  left: 1366px;
  font-size: var(--font-size-18xl);
  display: flex;
  align-items: center;
  width: 528px;
  height: 60px;
}
.desktop-3-child18 {
  position: absolute;
  top: 128px;
  left: 709px;
  border-radius: var(--br-39xl);
  background-color: var(--color-blue-100);
  width: 46px;
  height: 7px;
  opacity: 0.9;
}
.desktop-3-child19,
.desktop-3-child20 {
  position: absolute;
  top: 49px;
  left: 1749px;
  border-radius: var(--br-4xs);
  background-color: var(--color-blue-100);
  width: 148px;
  height: 49px;
}
.desktop-3-child20 {
  top: 47px;
  left: 1578px;
  background-color: var(--color-gray-700);
  border: 3px solid var(--color-blue-200);
  box-sizing: border-box;
  height: 51px;
}
.about-us9,
.cars-for-buy8,
.faqs8,
.our-services8,
.sign-in8 {
  position: absolute;
  top: 61px;
  left: 1615px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 73px;
  height: 24px;
}
.about-us9,
.cars-for-buy8,
.faqs8,
.our-services8 {
  top: 53px;
  left: 1429px;
  width: 53px;
}
.about-us9,
.cars-for-buy8,
.our-services8 {
  left: 1299px;
  width: 88px;
}
.cars-for-buy8,
.our-services8 {
  left: 1145px;
  width: 146px;
}
.cars-for-buy8 {
  left: 970px;
  width: 121px;
}
.hub9 {
  color: var(--color-deepskyblue);
}
.cars-for-rent10,
.dp-carhub14,
.home9,
.sign-up9 {
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
}
.dp-carhub14 {
  top: 34px;
  left: 46px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  width: 306px;
  height: 70px;
}
.cars-for-rent10,
.home9,
.sign-up9 {
  top: 53px;
  left: 708px;
  font-weight: 600;
  width: 48px;
  height: 24px;
}
.cars-for-rent10,
.sign-up9 {
  left: 797px;
  color: var(--color-dimgray-200);
  width: 131px;
}
.sign-up9 {
  top: 61px;
  left: 1796px;
  color: var(--color-gray-100);
  width: 83px;
  height: 13px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  height: 1080px;
  overflow: hidden;
  background-image: url(./public/desktop--3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
